#jinja2: lstrip_blocks: True, trim_blocks: True
---
# Managed by Ansible, please don't edit manually

# Full config: https://torsion.org/borgmatic/docs/reference/config.yaml
{{ _borgbackup_borgmatic_config | to_nice_yaml(indent=4, sort_keys=false) }}
